repos:
  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: ruff-check
        name: Ruff Check
        entry: ruff check --force-exclude
        language: system
        types_or: [cython, pyi, python]
        require_serial: true
      - id: ruff-format
        name: Ruff Format
        entry: ruff format --force-exclude
        language: system
        types_or: [cython, pyi, python]
        require_serial: true
      - id: isort
        name: isort
        entry: isort
        require_serial: true
        language: system
        types_or: [cython, pyi, python]
        args: ["--filter-files"]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: pip-audit
        name: pip-audit
        entry: pip-audit
        require_serial: true
        language: system
        pass_filenames: false
        args: ["."]
